@import "tailwindcss";

@theme {
  --color-primary: #3baee9;
  --color-primary-light: #e8f7ff;
  --color-primary-dark: #2a9fd8;
}

/* Chrome, Safari, Edge ke liye */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox ke liye */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.animate-progress-stripes {
  animation: progress-bar-stripes 1s linear infinite;
}